@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HomePage */

.home-back{
  height: 100vh;
  width: 99.1vw;
  background-size: cover;
  animation: backimage 1s forwards;
}
@keyframes backimage {
  from {opacity: 0}
  to {opacity: 1;}
}
.homepage-content-btns{
  position: relative;
  top: 40%;
  display: flex;
  justify-content: space-between;
}
.homepage-btn{
  border: rgb(16, 1, 36) 2px solid;
  padding: 20px 0;
  border-radius: 50%;
  width: 40px;
  transition: 0.5s all;
  cursor: pointer;
}
.homepage-btn:hover{
  background-color: rgb(43, 20, 71);
  opacity: 0.4;
}
.homepage-content{
  position: absolute;
  top: 550px;
  left: 150px;
}
.homepage-content-title{
  font-size: 100px;
  color: whitesmoke;
  animation: title 0.5s forwards;
  animation-delay: 0.5s;
  margin-left: 150px;
  opacity: 0;
}
@keyframes title {
  from {opacity: 0; margin-left: 150px}
  to {opacity: 1; margin-left: 0;}
}
.homepage-content-order{
  border: 1px solid rgb(16, 1, 36);
  background-color: rgb(16, 1, 36);
  color: whitesmoke;
  border-radius: 10px;
  width: 30%;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  transition: 0.5s all;
  cursor: pointer;
  text-transform: uppercase;
}
.homepage-content-order:hover{
  background-color: rgb(43, 20, 71);
}
.homepage-title{
  font-size: 80px;
  color: rgb(247, 226, 247);
  display: flex;
  justify-content: center;
}
.event-cards{
  background: rgb(255,0,241);
  background: linear-gradient(326deg, rgba(255,0,241,1) 0%, rgba(11,0,129,1) 95%);
  height: 100vh;
  width: 99.1vw;
  padding-top: 150px;
}

.best-cards{
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.best-card{
  border-radius: 8px;
  padding: 9px;
  box-sizing: border-box;
  background-color: none;
  transition: 0.5s all;
  cursor: pointer;
}
.best-card:hover{
  transform:translateY(-8px) translateX(8px);
}
.best-img{
  width: 400px;
  height: 40vh;
  object-fit: cover;
  border-radius: 5px;
}
.best-title{
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 22px;
  color: whitesmoke;
}
.best-img-div{
  position: relative;
}