@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* HomePage */

.home-back{
  height: 100vh;
  width: 99.1vw;
  background-size: cover;
  animation: backimage 1s forwards;
}
@keyframes backimage {
  from {opacity: 0}
  to {opacity: 1;}
}
.homepage-content-btns{
  position: relative;
  top: 40%;
  display: flex;
  justify-content: space-between;
}
.homepage-btn{
  border: rgb(16, 1, 36) 2px solid;
  padding: 20px 0;
  border-radius: 50%;
  width: 40px;
  transition: 0.5s all;
  cursor: pointer;
}
.homepage-btn:hover{
  background-color: rgb(43, 20, 71);
  opacity: 0.4;
}
.homepage-content{
  position: absolute;
  top: 550px;
  left: 150px;
}
.homepage-content-title{
  font-size: 100px;
  color: whitesmoke;
  animation: title 0.5s forwards;
  animation-delay: 0.5s;
  margin-left: 150px;
  opacity: 0;
}
@keyframes title {
  from {opacity: 0; margin-left: 150px}
  to {opacity: 1; margin-left: 0;}
}
.homepage-content-order{
  border: 1px solid rgb(16, 1, 36);
  background-color: rgb(16, 1, 36);
  color: whitesmoke;
  border-radius: 10px;
  width: 30%;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  transition: 0.5s all;
  cursor: pointer;
  text-transform: uppercase;
}
.homepage-content-order:hover{
  background-color: rgb(43, 20, 71);
}
.homepage-title{
  font-size: 80px;
  color: rgb(247, 226, 247);
  display: flex;
  justify-content: center;
}


.event-types-cards{
  background: rgb(255,0,241);
  background: linear-gradient(326deg, rgba(255,0,241,1) 0%, rgba(11,0,129,1) 95%);
  height: 100vh;
  width: 99.1vw;
  padding-top: 150px;
}

.event-types-card{
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.event-types-card{
  border-radius: 8px;
  padding: 9px;
  box-sizing: border-box;
  background-color: none;
  transition: 0.5s all;
  cursor: pointer;
}
.event-types-card:hover{
  transform:translateY(-8px) translateX(8px);
}
.event-types-img{
  width: 400px;
  height: 40vh;
  object-fit: cover;
  border-radius: 5px;
}
.event-types-title{
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 22px;
  color: whitesmoke;
}
.event-types-img-div{
  position: relative;
}



.schedule{
  background-color: rgb(1, 1, 34);
  color: whitesmoke;
  padding-top: 100px;
  padding: 100px 0;
}
.schedule-title{
  font-size: 70px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.scgedule-date-div{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.schedule-date{
  width: 200px;
  height: 50px;
  padding: 0 15px;
}
.schedule-events{
  max-width: 1500px;
  margin: 0 auto;
}
.schedule-event{
  width: 800px;
  padding: 50px;
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border: 2px solid whitesmoke;
  position: relative;
  margin-top: 50px;
}
.event-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.event-info{
  margin: 0 25px;
}
.event-title{
  font-size: 20px;
  text-transform: uppercase;
}
.event-place{
  font-size: 12px;
  color: #beb9b9;
  text-transform: capitalize;
  margin-top: 10px;
}
.event-ticket{
  position: absolute;
  right: 25px;
  border: rgb(43, 20, 71) 2px solid;
  padding: 10px 25px;
  border-radius: 20px;
  transition: all 0.5s;
  cursor: pointer;
}
.event-ticket:hover{
  background-color: rgb(43, 20, 71);
}
.event-date{
  margin-left: 100px;
  text-transform: uppercase;
}
.event-error{
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: red;
  margin-top: 50px;
}
.choose{
  font-size: 25px;
  color: rgb(255,0,241);
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


.upcoming{
  background: rgb(255,0,241);
  background: linear-gradient(326deg, rgba(255,0,241,1) 0%, rgba(11,0,129,1) 95%);
  padding: 100px 0;
}
.upcoming-events{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  justify-content: center;
}
.upcoming-container{
  width: 1500px;
  margin: 0 auto;
  color: whitesmoke;
}
.upcoming-title{
  display: flex;
  justify-content: center;
  font-size: 70px;
  
  margin-bottom: 100px;
  text-transform: uppercase;
}
.upcoming-event{
  border: 2px solid black;
  padding: 20px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 8px;
}
.upcoming-event-title{
  font-size: 22px;
  text-transform: uppercase;
}
.upcoming-event-date{
  text-transform: uppercase;
}
.omiupcng-event-info{
  position: absolute;
  bottom: 20px;
}
.upcoming-event-img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* APP-SLIDER */

.app-container {
  width: 100%;
  height: 75vh;
}

.app-slider {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.poster-details-container {
  width: 25%;
  height: 45%;
  position: absolute;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgba(11,0,129,1);
  cursor: default;
}

.poster-details-button {
  display: block;
  width: 65%;
  height: 12%;
  background: linear-gradient(326deg, rgba(255,0,241,1) 0%, rgba(11,0,129,1) 95%);
  border-radius: 1.5rem;
  text-align: center;
  line-height	: 2rem;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.poster-details-button:hover {
  display: block;
  width: 65%;
  height: 12%;
  border-radius: 1.5rem;
  text-align: center;
  line-height	: 2rem;
  font-weight: 700;
  cursor: pointer;
  background: magenta;
  color: white;
}

.poster-title {
  font-size: 4rem;
  font-weight: 900;
}

/* APP CONTENT COMPONENT */

.app-content-container {
  width: 100%;
  height: 93vh;
  display: grid;
	grid-template-columns: 40vw 40vw;
	grid-template-rows: 35vh 35vh;
	grid-gap: 1.5rem;
  margin-top: 6vh;
	grid-auto-flow: column;
  justify-content: center;
}

.app-content-units {
  padding: 4vh 5vw;
	text-align: center;
	font-size: 2rem;
  font-weight: bold;
	font-family: sans-serif;
	color: #fff;
  border-radius: 0.7rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  cursor: default;
}


.units-links {
  font-size: 1.1rem;
  font-weight:lighter;
  cursor: pointer;
}

/* FOOTER */

.footer {
  width: 100%;
  height: 50vh;
  background-color: rgb(1, 1, 34);
  display: flex;
  flex-direction: row;
}

.footer-container {
  width: 30%;
  height: 100%;
  background-color: rgb(1, 1, 34);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.footer-logo {
  display: flex;
  width: 60%;
  height: 20%;
  background-color: rgb(1, 1, 34);
}

.footer-logo .logo {
  background-color: rgb(1, 1, 34);
  width: 100%;
  height: 90%;
  margin-right: 10%; 
}

.footer-social-networks {
  width: 60%;
  height: 10%;
  background-color: rgb(1, 1, 34);
}


.footer-phone-number {
  width: 60%;
  height: 20%;
  background-color: rgb(1, 1, 34);
  margin-bottom: 25%;
}

.footer-ifno-container {
  width: 100%;
  height: 100%;
  background-color:rgb(1, 1, 34);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.info-items {
  display: flex;
  margin-right: 15vw;
  margin-top: 5vh;
  color: white;
  font-weight:700;
  font-size: 1.2rem;
}

/* PHONE */

.phone-number-container {
  display: flex;
  justify-content: space-around;
}

.number {
  color: white;
}


/* SOCIAL NETWORKS */

.networks-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly; 
}

.facebook {
  cursor: pointer;
}

.instagram {
  cursor: pointer;
}

.youtube {
  cursor: pointer;
}


/* Theatre */

.event2{
  background: rgb(255,0,241);
  background: linear-gradient(326deg, rgba(255,0,241,1) 0%, rgba(11,0,129,1) 95%);
  padding: 150px 0;
  width: 99.1vw;
  padding-top: 150px;
}
.event2-container{
  width: 1500px;
  margin: 0 auto;
}
.event2-content{
  display: flex;
  color: whitesmoke;
  margin: 100px 0;
}
.event-content-info{
  margin-left: 5%;
}
.event-content-info-title{
  font-size: 30px;
  font-weight: 700;

}
.event-content-info-text{
  margin-top: 50px;
  /* width: 80%; */
  font-size: 20px;
  opacity: 0.8;
}
.left-btn{
  display: flex;
  justify-content: flex-end;
}
.event-content-btn{
  border: 1px solid rgb(16, 1, 36);
  background-color: rgb(16, 1, 36);
  color: whitesmoke;
  border-radius: 10px;
  width: 30%;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  transition: 0.5s all;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 30px;
  
}
.event-content-btn:hover{
  background-color: rgb(43, 20, 71);
}
.event-content-dates{
  margin: 20px 0;
}
.left{
  text-align: end;
  margin-right: 5%;
}


.theatre-back{
  background: rgb(255,0,241);
  background: linear-gradient(326deg, rgba(255,0,241,1) 0%, rgba(11,0,129,1) 95%);
  padding: 100px 0;
}
.theatre-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.theatre-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1500px;
  margin: 0 auto;
} 
.theatre {
 padding: 25px;
  position: relative;
  margin :3%;
  border: 2px black solid;
  align-items: center;
  color: whitesmoke;
  transition: 0.5s all;
}
.theatre:hover{
  transform: translateX(5px) translateY(5px);
  background-color: rgb(180, 180, 180, 0.2);
}
.theatre-name {
  font-size: 25px;
}
.theatre-info {
  opacity: 0.8;
  margin-bottom: 25px;
}
.theatre-date {
  margin: 20px 0;
}
.theater-btn{
  border: 1px solid black;
  padding: 20px 35px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 8px;
  transition: 0.3s all;
}
.theater-btn:hover{
  background-color: black;
  color: whitesmoke;
}

.theatre-schedule{
  background: rgb(255,0,241);
  background: linear-gradient(326deg, rgba(255,0,241,1) 0%, rgba(11,0,129,1) 95%);
  padding: 100px 0;
}
.theatre-schedule-container{
  width: 1500px;
  margin: 0 auto;
}
.theatre-schedule-img-div{
  display: flex;
  justify-content: center;
}
.theatre-schedule-img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.theatre-schedule-title{
  color: whitesmoke;
  font-size: 50px;
  font-weight: 700;
  margin: 25px 0;
}
.theatre-schedule-info{
  color: whitesmoke;
  opacity: 0.8;
  font-size: 20px;
}
.theatre-schedule-card{
  padding: 50px;
  border: 3px black solid;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s all;
}
.theatre-schedule-card:hover{
  transform: translateX(5px) translateY(5px);
  background-color: rgb(180, 180, 180, 0.2);
}
.theatre-schedule-title{
  font-size: 35px;
  font-weight: 700;
  color: whitesmoke;
}
.theatre-schedule-btn{
  border: 1px solid black;
  padding: 20px 35px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 8px;
  transition: 0.3s all;
}
.theatre-schedule-btn:hover{
  background-color: black;
  color: whitesmoke;
}