body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* LOADING */

.loading {
  display: flex;
  justify-content: center;
  position: relative;
  top: 40vh;
}

/* HEADER */

.header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.rightBar {
  width: 15%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}


.nav {
  width: 85%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-items {
  height: 8vh;
  width: 7vw;
  display: flex; 
}

.nav .logo {
  height: 5vh;
  width: 8vw;
  /* background-color: rgba(11,0,129,1); */
  background: linear-gradient(326deg, rgba(255,0,241,1) 0%, rgba(11,0,129,1) 95%);
  /* color: linear-gradient(326deg, rgba(255,0,241,1) 0%, rgba(11,0,129,1) 95%); */
  display: flex;
  align-self: center;
}

.Site-logo {
  /* width: 70%;
  height: auto; */
  display: flex;
  width: 100%;
  height: 100%;
  /* color: linear-gradient(326deg, rgba(255,0,241,1) 0%, rgba(11,0,129,1) 95%); */
  /* color: #6B86A6; */

}

.hidden {
  display:none;
}

.search-bar {
  display: flex;
  /* color: #6B86A6; */
  color: rgba(11,0,129,1);
}

.search-bar:hover > .hidden {
  display:flex;
}

.language-bar {
  height: 8vh;
  width: 100%;
  display: flex;
  align-self: center;
}

.user {
  height: 8vh;
  width: 100%;
  /* background-color: crimson; */
  background: linear-gradient(326deg, rgba(255,0,241,1) 0%, rgba(11,0,129,1) 95%);
  display: flex;
  /* align-self: center; */
  flex-direction: row;
  justify-content:center;
  align-items: center;
  cursor: pointer;
}

.user-icon {
  width: 12%;
}

.nav-item {
  list-style: none;
  text-decoration: none;
  /* color: #6B86A6; */
  color: linear-gradient(326deg, rgba(255,0,241,1) 0%, rgba(11,0,129,1) 95%);
  font-size: 1.2rem;
  font-weight: 500;
}

.account {
  list-style: none;
  text-decoration: none;
  color: #6B86A6;
  font-size: 1.2rem;
  font-weight: 500;
}


/* CINEMA */

.cin {
  background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612244826_199-p-spasibo-za-vnimanie-fioletovii-fon-234.jpg);
  display: flex;
  background-size: cover;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-size: 0.2rem;
  display: block;
  margin-inline-start: 5px;
    
}

.cinema-home-back{
  display: flex;
  justify-content: left;
  height: 35vh;
  width: 35vw;
  background-size: cover;
  animation: backimage 1s forwards;
  margin-top:1cm;
  margin-bottom: 2cm;
}
.button-cinem {
  background-color: #7228c6;
  color: white;
  padding: 15px 25px;
 width: 20cm;
  margin-left: 10cm;
  border: solid;
 height: 15%;
  width: 17%;
 }
 .button-cinem:active{
  background-color: #f20606;
 }

/* LOGIN - REGISTER */
.auth-container {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.account{
  display: flex;
  margin-bottom: 50px;
  font-size: 0.2rem;
  display: block;
  margin-inline-start: 5px; 
}

 
 .p {
  font-size: medium;
  font: 1.2em sans-serif;
  color:#ccc;
  margin-left: 15ch;
  margin-right: 1ch;
 
 }
 .login-registration{
  display: flex;
  justify-content: center;
  font-size: 30px;
    margin-bottom: 20px;
    margin-top: 0cm;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 3px;
  color: #ccc;
}

/* ADMIN */
.form{
  background: rgb(255,0,241);
  background: linear-gradient(210deg, rgba(255,0,241,1) 0%, rgba(11,0,129,1) 100%);
  padding: 20px 0;
  margin: 0 auto;
  width: 450px;
  height: 800px;
  box-shadow: 2px 2px 5px;
  border-radius: 20px/20px;
}

.group{
  margin: 10px;
  padding: 5px;
}
.label {
 padding-left: 5px;
 text-transform: uppercase;
 color: #ccc;

}
.input {
  min-width: 15rem;
   border-radius: 20px/20px;
    padding: 4px;
    border: none;
    margin-top: 10px;
    height: 25px;
   width: 400px;
   padding-left: 15px;
   font-size: 18px;
 }
 .input:focus{
  border: 2px solid;
transform: translateX(15px);
width: 300;
 }

 .button {
  background-color: #6b14cf;
  color: white;
  padding: 2px 60px;
  border: none;
  cursor: pointer;
  width: 2%;
  height: 50px;
  text-transform: uppercase;
  font-size: 12px;
  box-shadow: 2px 2px 5px rgba(0,0,0,82);
  border-radius: 20px/20px;
  font-weight: 100px;
  }
 .button:hover{
  opacity: .80;
  font-weight: bold;
  transform: scale(1.1);
 }
 .buttonRegistartion {
  background-color: #6b14cf;
  color: white;
  padding: 2px 60px;
  border: none;
  cursor: pointer;
  width: 2%;
  height: 50px;
  text-transform: uppercase;
  font-size: 12px;
  box-shadow: 2px 2px 5px rgba(0,0,0,82);
  border-radius: 20px/20px;
  font-weight: 100px;
  margin-left: 165px;
  text-align: justify;
 }
